@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-in {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  .scroll-animate {
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
